@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100 vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

p {
    line-height: 160%;
}

/* headings and logo */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

h2 {
    font-size: 122%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#logo {
    font-size: 170%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar with dropdown toggle*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content*/
main {
    /* the following makes the main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/horse_hero.webp) no-repeat center center/cover;

    /* animating zoom effect on the hero image when loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image-atw {
    height: 600px;
    width: 100%;
    background: url(../images/polo_hero.webp) no-repeat center center/cover;

    /* animating zoom effect on the hero image when loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image-contact {
    height: 600px;
    width: 100%;
    background: url(../images/kiss_hero.webp) no-repeat center center/cover;

    /* animating zoom effect on the hero image when loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creating a zoom for the hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* home page information about whisper farm*/

#cover-text {
    background-color: rgba(53, 150, 114, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 25px;
    width: 78%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2 {
    color: #ffffff;
}

#whisper-farm h1 {
    display: flex;
    justify-content: center;
    padding: 4% 0% 1%;
}

#center-about {
    padding-top: 30px;
    width: 78%;
    margin: 0 auto;
}

#wwo-text {
    padding-top: 30px;
    width: 78%;
    margin: 0 auto;
}

#wwo-text a {
    font-weight: bold;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.center-about-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#center-benefits {
    width: 78%;
    margin: 0 auto;
}

.center-benefits-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#benefits-paragraph {
    padding: 6px;
}

#benefits-list>li {
    margin-left: 25px;
    padding: 6px;
    line-height: 160%;
}

#benefits-list a {
    font-weight: bold;
}

/* what we offer*/
#lessons-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#world-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#gear-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#boarding-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#offer-section {
    padding: 0% 11% 0%;
}

#offer {
    background: url(../images/hay_dark.webp) no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
}

#offer div {
    color: #fffae6;
    /*I already have a background image, but I want a background colour too, as a fail safe in case the image doesn't load, also to offer contrast on the image for light-coloured text*/
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    /* There will be no wraping on screens of less than 400px wide*/
    flex-basis: 200px;
    flex-grow: 1;
    /* Create a grid over the background image*/
    border: 2px solid #ffffff;
}

#offer h2 {
    color: #fffae6;
    padding: 4%;
}

#fixed-image-section {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#fixed-image {
    height: 400px;
    width: 100%;
    background: url("../images/horse_walking.webp") no-repeat center center/cover;
    background-attachment: scroll;
}

/* footer */

.all-footer-divs {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.footer-headings {
    text-align: center;
    text-decoration: underline;
}

.socials {
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 18px;
    list-style-type: none;
}

.socials i {
    font-size: 170%;
    color: #3a3a3a;
}

.footer-divs {
    padding: 10px 0;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        font-size: 100%;
        line-height: 45px;
    }

    menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 45px;
        margin: 0 0.5rem;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    #fixed-image-section {
        height: 400px;
        width: 100%;
        overflow: hidden;
    }

    #fixed-image {
        height: 400px;
        width: 100%;
        background: url("../images/horse_walking.webp") no-repeat center center/cover;
        background-attachment: fixed;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Very Large devices (large laptop screens and monitors, 1440px and up) */
@media screen and (min-width: 1440px) {
    #hero-image {
        height: 850px;
        width: 100%;
        background: url(../images/horse_hero.webp) no-repeat center center/cover;

        /*animating zoom effect on the hero image when loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        background-position: top 5%;
    }

    #hero-image-atw {
        height: 850px;
        width: 100%;
        background: url(../images/polo_hero.webp) no-repeat center center/cover;

        /* animating zoom effect on the hero image when loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    #hero-image-contact {
        height: 850px;
        width: 100%;
        background: url(../images/kiss_hero.webp) no-repeat center center/cover;

        /* animating zoom effect on the hero image when loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
}