/*Note: CSS code was arranged for a 'mobile-first' design*/
/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Quicksand:wght@300&display=swap');

/*wild card selector which overrides browser default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

p {
    line-height: 160%;
}

/* headings and logo */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

h2 {
    font-size: 122%;
}

h3 {
    font-size: 90%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#logo {
    font-size: 170%;
    display: inline-block;
}

#menu,
#logo {
    line-height: 75px;
}

.logo-img {
    padding-top: 5px;
    display: none;
    aspect-ratio: auto;
}

.footer-logo {
    aspect-ratio: auto;
}

#logo-div {
    display: flex;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: flex;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content*/
main {
    /* the following makes the main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/horse_hero.webp) no-repeat center center/cover;

    /* credit for hero animated zoom effect: love-running-2.0 depreciated project July 2023 */
    /* animating zoom effect on the hero image when loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image-atw {
    height: 600px;
    width: 100%;
    background: url(../images/polo_hero.webp) no-repeat center center/cover;

    /* animating zoom effect on the hero image when loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image-contact {
    height: 600px;
    width: 100%;
    background: url(../images/kiss_hero.webp) no-repeat center center/cover;

    /* animating zoom effect on the hero image when loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creating a zoom for the hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* home page with information about whisper farm*/
#cover-text {
    background-color: rgba(53, 150, 114, 0.8);
    font-size: 130%;
    position: absolute;
    bottom: 25px;
    width: 78%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    text-align: center;
}

#cover-text>h2 {
    color: #ffffff;
}

#cover-text>h3 {
    color: #ffffff;
}

.center-about {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
}

.cindy-title {
    font-size: 105%;
}

#wwo-text {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
}

#wwo-text a {
    font-weight: bold;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.center-about-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.contact-page-heading {
    width: 100%;
    line-height: 26px;
    clear: both;
    margin-bottom: 50px;
}

.contact-page-heading a {
    font-weight: bold;
}

.center-about-heading a {
    font-weight: bold;
}

#center-benefits {
    width: 80%;
    margin: 0 auto;
}

.center-benefits-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#benefits-paragraph {
    padding: 6px;
}

#benefits-list>li {
    margin-left: 25px;
    padding: 6px;
    line-height: 160%;
}

#benefits-list a {
    font-weight: bold;
}

/* what we offer*/
#lessons-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#world-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#gear-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#boarding-home {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#offer-section {
    padding: 0% 11% 2%;
}

#offer {
    /* Image taken from https://pixabay.com/photos/hay-hay-bale-landscape-nature-4348733/ */
    background: url(../images/hay_dark.webp) no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
}

#offer div {
    color: #fffae6;
    /*I already have a background image, but I want a background colour too, as a fail safe in case the image doesn't load, also to offer contrast on the image for light-coloured text*/
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    /* There will be no wraping on screens of less than 400px wide*/
    flex-basis: 200px;
    flex-grow: 1;
    /* Create a grid over the background image*/
    border: 2px solid #ffffff;
}

#offer h2 {
    color: #fffae6;
    padding: 4%;
}

#fixed-image-section {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#fixed-image {
    height: 400px;
    width: 100%;
    background: url("../images/horse_walking.webp") no-repeat center center/cover;
    background-attachment: scroll;
}

/* around the world page*/
#dressage-image {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background: url("../images/dressage.webp") no-repeat center center/cover;
}

#polo-image {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background: url("../images/atw_polo.webp") no-repeat center center/cover;
}

#horseball-image {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background: url("../images/horseball.webp") no-repeat center center/cover;
}

.tackup-title {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 25px;
    text-align: center;
}

#youtube-wrapper {
    position: relative;
    overflow: hidden;
    width: 80%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#video {
    padding-bottom: 30px;
}

/*contact page*/
/*contact form*/
#farm-address {
    padding-top: 0;
    line-height: 160%;
}

#contact-list>li {
    margin-left: 25px;
    padding: 6px;
    line-height: 140%;
}

#signup {
    background-image: url("../images/hay_dark.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#signup-form {
    color: #fffae6;
    background-color: rgba(53, 150, 114, 0.8);
    padding: 15px;
}

#signup-form>h2 {
    color: #fffae6;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    background: #ffffff;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fffae6;
    border-radius: 2px;
    padding: 0 5px;
    font-size: 110%;
}

.text-input-box {
    height: 6rem;
    font-size: 130%;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*credit for box shadow code and idea: https://elainebroche-dev.github.io/ms1-thrive/contact.html */
.submit-button {
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 100%;
    font-weight: bold;
    background-color: #fffae6;
    color: #2a2a2a;
    box-shadow: 0.3rem 0.4rem #2a2a2a;
}

#contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-container div {
    padding: 6px;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#contact-left {
    width: 25rem;
}

/*map*/
#contact-right {
    width: 35rem;
    scroll-behavior: unset;
}

#map-div {
    width: 100%;
    height: 20rem;
}

#map-iframe {
    width: 100%;
    height: 100%;
    border: none;
    scroll-behavior: unset;
    margin: 0 auto;
}

/* footer */
.container-footer-divs {
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    background-color: #CC864A;
    border-top: 1px solid #000000;
}

.footer-divs p {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
}

.socials {
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 18px;
    list-style-type: none;
    color: #000000;
}

.socials i {
    font-size: 170%;
    color: #000000;
}

img {
    max-width: 8rem;
    display: flex;
    justify-content: center;
}

.git-hub-div {
    font-size: 170%;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        font-size: 100%;
        line-height: 45px;
    }

    menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 45px;
        margin: 0 0.5rem;
    }

    #cover-text {
        width: 300px;
        right: 50px;
        text-align: center;
        border-radius: 6px;
    }

    #fixed-image-section {
        height: 400px;
        width: 100%;
        overflow: hidden;
    }

    #fixed-image {
        height: 400px;
        width: 100%;
        background: url("../images/horse_walking.webp") no-repeat center center/cover;
        background-attachment: fixed;
    }

    #youtube-wrapper {
        position: relative;
        overflow: hidden;
        width: 60%;
        padding-top: 38%;
        margin: 0 auto;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .logo-img {
        display: inline-block;
    }

    #logo-div {
        display: flex;
        justify-content: center;
    }
}

/* Very Large devices (large laptop screens and monitors, 1440px and up) */
@media screen and (min-width: 1440px) {
    #hero-image {
        height: 850px;
        width: 100%;
        background: url(../images/horse_hero.webp) no-repeat center center/cover;

        /*animating zoom effect on the hero image when loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        background-position: 5%;
    }

    #hero-image-atw {
        height: 850px;
        width: 100%;
        background: url(../images/polo_hero.webp) no-repeat center center/cover;

        /* animating zoom effect on the hero image when loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    #hero-image-contact {
        height: 850px;
        width: 100%;
        background: url(../images/kiss_hero.webp) no-repeat center center/cover;

        /* animating zoom effect on the hero image when loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
}